@charset "UTF-8";

/* 縱排印刷.CSS v0.0.1 Draft | MIT License */
/* PrintZongpai.css: the CSS created for vertical writing and printing */

$base-font-size: 10.5pt;
$base-line-height: 1.8;

/* Basic fonts */
$ming-font-family: 
	"Palatino Linotype",
	"Source Han Serif TW",
	"Songti TC",
	YuMincho, PMingLiu,
	serif;
$hei-font-family: 
	"Helvetica Neue", 
	Helvetica, Arial,
	"Source Han Sans TC",
	sans-serif;
$kai-font-family:
	"Adobe Garamond Pro",
	"Biaukai",
	cursive;
$fangsong-font-family:
	"Adobe Garamond Pro",
	"Adobe Fangsong Std",
	serif;

@import 'base/normalize';

html { 
	-webkit-writing-mode: vertical-rl;
	    -ms-writing-mode: tb-rl;
	        writing-mode: vertical-rl;
	text-orientation: mixed;
	font-family: sans-serif;
	height: 100%;
}

body {
	max-height: 100%;
	line-height: $base-line-height;
}

/* Book title */
header {
	text-align: center;
}
header .title { 
	font-family: $ming-font-family;
	display: inline-block;
	letter-spacing: 0.5em;
	font-weight: 700;
}
header .author { 
	font-family: $ming-font-family;
	font-size: 1.6em;
	display: inline-block;
	font-weight: 700;
}
header .date { display: none; }

/* Table of contents */
#TOC {
    font-family: $hei-font-family;
}
#TOC h2 {
	padding-top: 1.8em;
	text-indent: 4rem;
	display: block;
	font-family: $ming-font-family;
	font-weight: 600;
	font-size: 1.3em;
}
#TOC ul {
	line-height: 4; //temporary
}
// #TOC li:first-child:before {
// 	content: "目次";
// 	display: block;
// 	text-indent: 4em;
// 	font-weight: bold;
// 	font-family: $ming-font-family;
// }
#TOC li {
	list-style-type: none;
	font-weight: 400;
}
#TOC a {
	text-decoration: none;
	color:inherit;
}

/* Basic styles */
article {
	line-break: strict;
	word-break: strict;
	text-align: justify;
	text-align-last: left;
	font-family: $ming-font-family;
	line-height: $base-line-height;
	font-weight: 500;
	font-feature-settings: 'pkna';
	text-spacing: ideograph-alpha ideograph-numeric; // CSS4 will see this fixing text-spacing being too narrow between Chinese & English words.
}

// Chapter title
article > h2 {
	font-family: $ming-font-family;
	margin-left: 3em;
	text-align: center;
	counter-reset: footnote;
	font-weight: 600;
}
a {
    text-decoration: none;
    color: #5F7894;
    transition: color 0.3s ease;
}
a:hover {
    text-decoration: underline;
}
blockquote {
	font-family: $kai-font-family;
	font-weight: normal;
	font-size: 1em;
	margin: 0 1em 0 1em;
}
hr {
	border: none;
	color: #333;
	line-height: 4;
}
hr:after {
	content: "§";
	font-size: 1.3em;
}
figure {
	-webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
	display: flex;
    flex-direction: column; // Puts caption below image
    align-items: center; // Centers image and caption
    font-family: $hei-font-family;
	font-weight: 400;
}
figcaption {
	padding: 0.5em;
	font-size: 0.9em;
}
figure img {
	max-width: 100% !important;
	max-height: 100% !important;
}
em {
	font-style: normal;
	-webkit-text-emphasis-style: dot;
}
/* 縱中橫 */
span.zzh {
	text-combine-upright: all;
}

/* Reference footnotes generated by Pandoc */
.footnoteRef sup,
.footnote-ref sup {
	line-height: 1;
	top: 10%;
	vertical-align: text-top;
	font-family: $hei-font-family;
	-webkit-writing-mode: horizontal-tb;
	-epub-writing-mode: horizontal-tb;
}
// A short line to serapate footnote
.footnotes:before {
	content: '';
	display: block;
	position: relative;
	margin-right: 4em;
	margin-left: 1em;
	width: 1px;
	height: 40%;
	background: black;
}
// Hides footnote horizontal line created by Pandoc
.footnotes hr {
	display: none;
}
.footnotes ol {
	font-family: $fangsong-font-family;
	list-style-type: none;
	counter-reset: fn;
	padding-top: 1em;
}
// Footnote numbers for vertical writing mode
.footnotes li:before {
	-webkit-writing-mode: horizontal-tb;
	font-family: $hei-font-family;
	position: relative;
	font-weight: 200;
	font-size: 0.8em;
	float: left;
	margin-top: -1.8em;
	right: 8px;
	content: counter(fn);
}
.footnotes li {
	position: relative;
	counter-increment: fn;
}

@import 'base/page';
@import 'base/print';
@import 'base/screen';